.aspect-ratio-16-9 iframe {
    aspect-ratio: 16 / 9;
    height: auto !important;
}

.grafana-iframe iframe div[class$="-panel-title"] {
    display: none;
}

.grafana-iframe iframe div[class$="-button-panel-menu"] {
    display: none;
}